<h1>My's Todo</h1>
<div class="container">
  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date | uppercase | lowercase}}</td>
        <td>{{todo.done}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="updateTodo(todo.id)">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
