<div class="container">
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="todo.description"
               required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>Target date</label>
        <input type="date"
               class="form-control"
               name="targetDate"
               [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
               (ngModelChange)="todo.targetDate = $event"
               required="required">
    </fieldset>
    <button class="btn btn-success">Save</button>
</div>
